<h4 class="h4">Laptop</h4>
<img src="../../../assets/images/laptop.jpg" alt="" class="rounded w-100"> <br>
<!-- <button class="btn btn-primary" routerLink="/contact">Back to Product</button> -->
<button class="btn btn-primary" (click)="backClicked()">Go to Back</button>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
