<div class="page-area">
    <div class="text-center">
        <h2>Reactive Form</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-left bg-white rounded shadow  py-3 myRecForm" [ngClass]="formStatus">
            <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
              <div formGroupName="userDetail">
                <!-- normal textbox -->
                <div class="form-group">
                  <label for="username">User Name</label>
                  <input type="text" class="form-control" id="username" placeholder="Enter User Name" autocomplete="off"
                   formControlName="username" >
                   <small class="text-danger" *ngIf="!myReactiveForm.get('userDetail.username')?.valid && myReactiveForm.get('userDetail.username')?.touched ">
                    <span *ngIf="myReactiveForm.get('userDetail.username')?.errors?.['required']">User name is not valid</span>
                    <span *ngIf="myReactiveForm.get('userDetail.username')?.errors?.['nameIsNotAllowed']">User name is not allowed</span>
                  </small>
                  </div>
                <!-- email address -->
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email"  autocomplete="off"
                    formControlName="email" >
                    <small class="text-danger" *ngIf="!myReactiveForm.get('userDetail.email')?.valid && myReactiveForm.get('userDetail.email')?.touched ">Please enter valid Email</small>
                  </div>
                </div>
                <!-- drop down -->
                <div class="form-group">
                  <label  for="course" >Select Course</label>
                  <select class="form-control"  id="course" formControlName="course" >
                    <option value="Angular">Angular</option>
                    <option value="React">React</option>
                    <option value="Javascript">Javascript</option>
                  </select>
                </div>
               <!-- radio button -->
                <div class="form-group">
                  <div class="custom-control custom-radio" *ngFor="let gender of genders">
                    <input type="radio" class="custom-control-input" id="{{gender.id}}" value="{{gender.genderType}}" 
                    formControlName="gender" >
                    <label class="custom-control-label" for="{{gender.id}}">{{gender.genderType}}</label>
                  </div>
                </div>
                <div class="form-group mb-3" formArrayName="skills">
                  <label>Skills</label>
                  <ng-container *ngFor="let skill of myReactiveForm.get('skills')?.value;index as i">
                      <input type="text" class="form-control mt-2" 
                       placeholder="Add Skills" autocomplete="off"
                        formControlName="{{i}}" >            
                  </ng-container>
                   <button type="button" class="btn btn-light btn-sm mt-3 btn-add" (click)="onAddSkills()"> <i>+</i>Add Skills</button>
                  </div>
                <button type="submit" class="btn btn-success" >Submit</button>
              </form>
        </div>
    </div>
</div>
