<!-- <app-myContainer></app-myContainer> -->
<!-- <app-databind></app-databind> -->
<!-- <app-class-style></app-class-style> -->
<!-- <app-eventbind></app-eventbind> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->
<div class="container">
<header>
    <nav>
        <ul class="nav nav-tabs">
            <!-- <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li> -->
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/buy-products">buy-Products</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/blogs">Blogs</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/content">Content</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/events">Events</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/filter">Table-search</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/tdf">TDF</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/reactive">Reactive Form</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/mycontainer">Container</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
</div>

