<h1> String Interpolation</h1>
<hr>
<p> 
    My name is {{dynName}}
</p>
<br>
{{4*7}}
<br>
{{"welcome to "+dynName}}
<br>
{{dynName.length}} 
<br>
{{dynName.toUpperCase()}}
<br>
{{myMethod()}}
<br>
My app Status is {{appStatus ? status1 : status2}}
<br>
<p>***************************************************</p>
<br>
<h1> Property Binding</h1>
<hr>
<br><br><br>
<input type="text" bind-disabled="true" name="" id="" [value]="dynName" title="textName" >
<br><br><br><br>
<input type="text" name="" id="" bind-value="dynName" title="txtName">